[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
flask-migrate = "*"
flask-jwt-extended = "*"
werkzeug = "*"
flask-cors = "*"
flask-restful = "*"

[dev-packages]

[requires]
python_version = "3.10"
